# Cloudflare Turnstile Key
VITE_TURNSTILE_SITE_KEY=

# Google Gemini API Key
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=

# E2B Sandbox API Key
VITE_E2B_API_KEY=

# AssemblyAI Key for voice synthesis & transcribing
ASSEMBLY_AI_API_KEY=

# Stripe Key
STRIPE_SECRET_KEY=

# Security and Encryption Key
VITE_ENCRYPTION_KEY=

# App support email
VITE_SUPPORT_EMAIL=

# Custom LLM / Inference Providers (Optional overrides)
VITE_CUSTOM_AI_BASE_URL=
VITE_CUSTOM_AI_MODEL_NAME=
GITHUB_MODEL_API_KEY=
CUSTOM_AI_API_KEY=
GLM_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
SAMBANOVA_API_KEY=

# Firebase Client configuration
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_MEASUREMENT_ID=
